<% layout("layouts/bolierplate") %>

<body>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            <% for (let lists of alllistings) { %>
                <div class="col">
                    <a href="/products/<%= lists._id %>" class="products-link">
                        <div class="card h-100">
                            <img src="<%= lists.image %>" class="card-img-top view-img" alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title"><%= lists.title %></h5>
                                <p class="card-text">
                                    <%= lists.description %> <br />
                                    &#8377;<%= lists.price ? lists.price.toLocaleString("en-IN") : 'N/A' %>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</body>
