<% layout("/layouts/bolierplate") %>

<body>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="mb-4">Product Details</h3>

        <div class="card shadow">
          <img src="<%= products.image || '/images/default.jpg' %>" class="card-img-top view-img" alt="<%= products.title %>">

          <div class="card-body">
            <h5 class="card-title"><%= products.title %></h5>
            <p class="card-text"><%= products.description %></p>
            <p class="card-text"><strong>Price:</strong> ₹ <%= products.price %></p>
            <p class="card-text"><strong>Location:</strong> <%= products.location %></p>
            <p class="card-text"><strong>Handicrafted:</strong> <%= products.handicrafted ? "Yes" : "No" %></p>
          </div>


          <div class="card-body d-flex gap-2">
              <a href="/products/<%= products._id %>/edit" class="btn btn-warning">Edit</a>
              <form method="POST" action="/products/<%= products._id %>?_method=DELETE">
                  <button class="btn btn-danger">Delete</button>
              </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
